.card {
  min-height: 263px;
  max-width: 357px;
  background-color: getColour(secondary);
  border-radius: 12px;
  margin: auto;

  @media (max-width: 750px) {
    min-height: 355px;
  }
  &.purple-border {
    border: solid getColour(accent) 3px;
    background-color: white;
  }
  &.purple-white {
    border: solid white 3px;
    background-color: getColour(accent);
  }
}
